<div class="jumbotron mt-4">
    <h1 class="display-4">
        Node app Nodejs mongodb
    </h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, ut officia. Porro earum blanditiis id, tempora reiciendis iste in, voluptatibus illo sint ex nesciunt cumque ipsam nemo eius, corrupti laboriosam?</p>
    <a href="https://google.com" target="_blank" class="btn btn-primary btn-lg">Google</a>
</div>